@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1f22;
        --text-color: white;
        --left-sidebar-background: #2b2d31;
        --button: #1960e4;
        --card: #313338;
        --input: #1e1f22;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: var(--background);
    color: var(--text-color);
}

/* BOTÕES */
button {
    padding: 8px;
    background: var(--button);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.9;
}

/* LOGIN SCREEN */
#loginScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 350px;
    background: var(--left-sidebar-background);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}

.loginBox h1 {
    text-align: center;
    font-size: 28px;
}

.loginBox p {
    text-align: center;
    color: #b5bac1;
    margin-bottom: 10px;
}

.loginBox input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: var(--input);
    color: white;
}

.loginBox .btns {
    display: flex;
    gap: 10px;
}

#authStatus {
    text-align: center;
    font-size: 14px;
    color: #b5bac1;
}

/* GRID APP */
#app {
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    height: 100vh;
}

/* LEFT */
#leftSidebar {
    background: var(--left-sidebar-background);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

#roomList {
    flex: 1;
    overflow-y: auto;
}

#roomList button {
    width: 100%;
    margin-bottom: 6px;
    background: #3c3f45;
}

#roomList button:hover {
    background: #4e525a;
}

#salaDiv {
    display: grid;
    gap: 10px;
}

#roomName {
    background-color: var(--input);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 6px;
}

/* CHAT */
#chatArea {
    display: flex;
    flex-direction: column;
    background: var(--card);
}

#chatHeader {
    padding: 10px;
    background: #2b2d31;
    border-bottom: 1px solid #444;
}

#chatBox {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.received {
    background: #2b2d31;
    padding: 10px;
    border-radius: 8px;
    max-width: 65%;
}

/* INPUT CHAT */
#chatInput {
    display: flex;
    padding: 10px;
    background: #383a40;
    gap: 10px;
}

#chatInput input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #2b2d31;
    color: white;
}

/* RIGHT */
#rightSidebar {
    background: #232428;
    padding: 10px;
}

#memberList div {
    padding: 8px;
    border-radius: 6px;
    background: #2b2d31;
    margin-bottom: 5px;
}

/* UTIL */
.hidden {
    display: none !important;
}